@import "./node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  text-align: center;
  color: #363636;
}

.title {
  font-weight: 700;
}

p {
  font-family: "Open Sans", sans-serif;
}

.paddingtop2 {
  padding-top: 2rem;
}

.paddingbottom3 {
  padding-bottom: 3rem;
}

.topnav {
  display: flex;
  flex-direction: row;
  background-color: #f1ede5;
  padding-bottom: 7px;
  padding-top: 7px;
  font-family: "Open Sans", sans-serif;

  a {
    color: #363636;

    &:hover {
      color: #6d6d6d;
    }
  }

  ul {
    font-size: 1rem;

    li {
      display: inline-block;
    }
  }
}

.is-size-custom-p {
  font-size: 1.1rem;
}

.flex-between {
  justify-content: space-evenly !important;
}

.navbar-menu {
  // flex-grow: 0;
  font-family: "Open Sans", sans-serif;
}

.navbar-end {
  // margin-left: 0;
}

.navbar {
  background-color: #accdb8 !important;
}

nav {
  ul {
    li {
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
    }
  }

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .logo {
    height: 90px !important;
    width: auto;
  }

  .mr {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.navbar-start {
  // display: flex;

  a {
    &:hover {
      color: #363636;
      background-color: #b3d4bf;
    }
  }
}

.navbar-item {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;

  img {
    max-height: none;
    max-width: 100%;
  }
}

.midPhoto {
  height: auto;
  width: 350px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.mnone {
  margin: 0 !important;
  padding-bottom: 2rem;
}

.text-centered {
  text-align: center !important;
  width: 100vw !important;
  padding-bottom: 1.5rem;
  padding-top: 2.5rem;
}

.footer {
  background-color: #accdb8;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  color: #505a4f;
}

.field {
  .button {
    background-color: #accdb8;
  }
}

.imageFlex {
  display: flex;
  flex-flow: row;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

.padtophalf {
  padding-top: 1rem !important;
}

// .customHeight {
//   max-width: 399px !important;
//   height: auto;
// }

// .evenHeight {
//   height: 323px !important;
// }

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}

.pb3 {
  padding-bottom: 1.5rem;
}

.pt3 {
  padding-top: 0.5rem;
}

.pbt2 {
  margin-bottom: 3rem !important;
}

.pb1 {
  margin-bottom: 1.5rem !important;
}

.teamFlex {
  display: flex;
  flex-direction: row;
}

// .pic {
//   background-color: #686868;
//   height: 325px;
//   width: 250px;
// }

.row {
  flex-direction: row;
}

footer {
  margin-top: 3rem;
}

.input::placeholder,
.textarea::placeholder,
.select select::placeholder {
  color: rgba(54, 54, 54, 0.774);
}

.is-brown {
  background-color: #b3d4bf !important;
  margin-left: auto;
}

.contact {
  display: flex;
  // justify-content: center;
  padding: 3rem;
}

.contact-left {
  width: 50%;
}

.flexit-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.padb {
  padding-bottom: .5rem;
}

.service-section {
  margin-top: 2.5rem;
}

.service-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 75px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.smooshed {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.padit {
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}